* {
    box-sizing: border-box;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
}

.wrapper {
    background-image: url('../images2/flatStone_2.jpg');
    font-family: Arial;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
	overflow: scroll;
}

.header {
    text-align: center;

    padding: 32px;
}

.headerDiv {
    display: table;
    margin: 0 auto;
    background: rgba(255, 255, 255, .5);
}

.headerTitle {
    display: table;
    margin: 0 auto;
    padding: 0 15px;
    text-align: center;
    font: bold 75px arial, sans-serif;
    background-color: #2a2828;
    color: transparent;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.5);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    border: 1.5px solid rgba(47, 49, 48, 0.44);
}

.row {
    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 8px;
}

.column {
    -ms-flex: 50%;
    /* IE10 */
    flex: 50%;
    max-width: 50%;
    padding: 8px;

}

.column img {
    margin-top: 8px;

    vertical-align: middle;
}

img {
    -webkit-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    box-shadow: -1px 25px 14px -12px rgba(0, 0, 0, 0.49);
    margin-bottom: 10px;
    border: 2px solid rgba(47, 49, 48, 0.44);
}

.caption {
    display: table;
    margin: 0 auto;
    margin-bottom: 10px;
    color: black;
    font-family: 'Josefin Sans';
    font-size: 30px;

    background: rgba(255, 255, 255, .6);
    /* border-top: 2px solid rgba(47, 49, 48, 0.44); */
    border-bottom: 2px solid rgba(47, 49, 48, 0.44);

}

p.caption-text {
    margin: 10px 10px 10px 10px;
}


.img-div {
    position: relative;

    text-align: center;
    /* color: white; */

    color: black;
    font-family: 'Josefin Sans';
    font-size: 20px;

}

.bottom-left {
    position: absolute;
    display: table;
    /* top: 90%; */
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 4px 20px;
    background: rgba(255, 255, 255, .5);
    /* background: rgba(0,0,0, .5); */
}


footer {
    background: rgba(255, 255, 255, .5);
    font-weight: bold;
}

@media screen and (max-width: 800px) {
    body {
        margin: .5%;
    }

    .column {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }

    p.caption-text {
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    body {
        margin: .5%;
    }

    .column {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }

    .headerTitle {
        padding: 5px;
        font-size: 40px;
    }

    p.caption-text {
        font-size: 20px;
    }

}

@media screen and (max-width: 400px) {
    p.caption-text {
        font-size: 20px;
    }
}